[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/command_t"]
	path = bundle/command_t
	url = http://github.com/wincent/Command-T.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = http://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vimerl"]
	path = bundle/vimerl
    url = https://github.com/oscarh/vimerl.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = git@github.com:mileszs/ack.vim.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = git@github.com:slim-template/vim-slim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = git@github.com:kien/ctrlp.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "/Users/royd/.vim/bundle/kotlin-vim"]
	path = /Users/royd/.vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim
